*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

html, body{
	height: 100%;
	text-align: center;
}

.wrapper {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 1180px;
	/*border: 1px solid black;*/
	text-align: left;
}

.padding {
	flex: 0 1 55px;
}

.content {
	flex: 1 1 auto;
}

.h1{
	font-size: 30px;
	color: #445161;
	line-height: 30px;
}

.h2{
	font-size: 25px;
	line-height: 30px;
	color: #445161;
}

.h3{
	font-size: 20px;
	line-height: 1.5;
	color: #445161;
	line-height: 30px;
}

.h4{
	font-size: 24px;
	line-height: 24px;
	color: #333333;
}

.long {
	font-size: 14px;
	line-height: 25px;
	color: #333333;
}

.bold {
	font-size: 14px;
	line-height: 14px;
	color: #333333;
	font-weight: bold;
}

.red {
	font-size: 14px;
	line-height: 1;
	color: #ff0000;
}

.align {
	font-size: 14px;
	line-height: 1;
	text-align: right;
	color: #333333;
}

.big {
	font-size: 14px;
	line-height: 1;
	color: #333333;
	text-transform: uppercase;
}

.italic {
	font-style: italic;
	font-size: 14px;
	font-size: 14px;
}

.underline {
	text-decoration: underline;
	font-size: 14px;
	color: #333333;
}

.align_2 {
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #333333;
}

.line-through {
	text-decoration: line-through;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: #333333;
}

.ordinary {
	font-size: 14px;
	color: #333333;
}

.shadow {
	text-shadow: 1px 1px 1px #000000;
	font-size: 14px;
	color: #333333;
}

